body {
    font-family: 'Lato', sans-serif;
    color: #cccccc;
    background-color: #2b537d;
  }
  
  .app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  